.container{
    width: fit-content;
    padding: 25px 25px 10px 25px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    margin: 150px;
    background-color: #efe999;
}
@media screen and (min-width:400px){
    .container{
        display: grid;
        justify-content: center;
        margin: auto;
    }
    
}
.display{
    width: auto;height: 45px;
    border-radius: 15px;
    border:1px outset #000;
    margin: 5px 5px;
}
.row{
    margin: 5px 5px;
}
button{
    width: 12vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    background-color: #000;
    color: #efe999;
    border: 2px #ffffff outset;
    border-radius: 50px;
    padding: 8px;
    margin: 4px 4px;
}